---
import { Content as RGHS } from "../../../data/misc/credits-brief.md"
import { Picture } from "@astrojs/image/components"
---

<section class="scroll-mt-16 relative" id="credits">
  <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 leading-loose">
    <div class="max-w-5xl mb-10 md:mx-auto md:mb-12">
      <h2 class="text-center text-4xl font-bold tracking-tighter mb-4 lg:mb-8 font-heading">
        <span class="text-base-content/50">Mission :</span>
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-secondary-400">Improve Railroader Sleep Health</span>
      </h2>
      <p class="max-w-4xl mx-auto text-lg text-gray-600 dark:text-slate-400 pt-4" >
        <RGHS />
      </p>
    </div>
  </div>
</section>
