---
const { date } = Astro.props;
// add  6 hours to the date
let newDate = new Date(date.getTime() + 60 * 6 * 60000);
let dateStr = newDate.toDateString();
let dateArr = dateStr.split(' ');
---
<div class="block rounded-t overflow-hidden  text-center w-24">
  <div class="bg-primary text-primary-content py-1">{dateArr[1]}</div>
  <div class="pt-1 border-l border-r">
    <span class="text-4xl font-bold">{dateArr[2]}</span>
  </div>
  <div class="pb-2 px-2 border-l border-r border-b rounded-b flex justify-between">
    <span class="text-xs font-bold">{dateArr[0]}</span>
    <span class="text-xs font-bold">{dateArr[3]}</span>
  </div>
</div>