---
import { Icon } from 'astro-icon';
import { getPermalink } from '~/utils/permalinks';

const items = [
	[
		{
			question: 'What is the Railroaders’ Guide to Healthy Sleep?',
			answer: `The Railroaders’ Guide to Healthy Sleep provides tools, tips and information to help railroaders—as well as families and friends—explore and improve sleep and find a healthy balance in life. The Anonymous Sleep Disorders Screening Tool helps you check up on your own sleep health. While any transportation industry employee may benefit from the information at the website, this site is designed to meet the specific needs of railroaders.  `,
		},
		{
			question: "Why is sleep so important to railroaders?",
			answer: `Sleep is vital for all of us. We can’t live without it. Many railroaders work on-call and have unpredictable schedules, so it’s especially essential for them to know how and when to get the best sleep possible. Good sleep can improve railroaders’ safety and health, both on and off the job.`,
		},
	],
	[
		{
			question: "Is RailroaderSleep.org information trustworthy?",
			answer: `Initially launched in June 2012, RailroaderSleep.org information was reviewed and updated in 2015 using the latest scientific literature and through consultation with sleep experts. However, you should check with your doctor to confirm that the information is right for you.`,
		},
		{
			question: 'Do employers know who uses the site or its tools?',
			answer: `No, they do not. Railroaders may access the site assured of their privacy. You can read the full Privacy Policy here.`,
		}
	],
];
---

<section class="scroll-mt-16" id="FAQ">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="max-w-5xl mb-10 md:mx-auto md:mb-12">
			<h2 class="text-center text-4xl font-bold leading-tighter tracking-tighter mb-4 lg:mb-8 font-heading">
        <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-secondary-400 whitespace-nowrap"
        >Frequently Asked Questions</span
				>
			</h2>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-lg font-bold" set:html={question}>
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
  </div>
  <div class="mt-6 mx-auto text-center">
    <a
      class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
      href={getPermalink('faq')}
      target="_blank"
      rel="noopener"
    >
    More questions and answers <Icon name="tabler:arrow-right" class="w-5 h-5 ml-1" />
    </a>
  </div>
</div>
