---
const items = [
	[
		{
			title: 'Stuff',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'More stuff',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
	],
	[
		{
			title: 'Tools',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Other stuff',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="max-w-5xl mb-10 md:mx-auto md:mb-12">
			<h2 class="text-center text-4xl font-bold leading-tighter tracking-tighter mb-4 lg:mb-8 font-heading">
        Mission :
        <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-secondary-400 whitespace-nowrap"
        >Improve Railroader Sleep Health</span
				>
			</h2>
			<p class="max-w-4xl mx-auto text-lg text-gray-600 dark:text-slate-400">
        The Railroaders' Guide to Healthy Sleep website is intended to provide information to railroaders and their families about the importance of sleep health and the risks of sleep disorders, as well as to provide information about the resources available to railroaders who may be experiencing sleep problems. It was originally produced by the U.S. Department of Transportation Volpe Center (Volpe) in Cambridge, MA, and is sponsored by the Federal Railroad Administration (FRA), U.S. Department of Transportation (U.S. DOT). Originally launched on June 11, 2012, in collaboration with the Harvard Medical School Division of Sleep Medicine, the site was updated by the Volpe Center in 2015, serving as a major educational initiative for the railroad industry about the importance of sleep health.
			</p>
		</div>
    <!--
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
										<svg class="w-12 h-12 p-0.5" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
											<g fill="none" fill-rule="evenodd">
												<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
												<g stroke-linecap="square" stroke-width="2">
													<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
													<path
														class="stroke-current text-primary-300"
														d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
													/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-lg font-bold">{title}</h3>
									<p>{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
    -->
	</div>
</section>
