---
import { SITE } from "~/config.mjs";
import { getCanonical, getHomePermalink } from "~/utils/permalinks";
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Features from "~/components/widgets/Features.astro";
import Credits from "~/components/widgets/Credits.astro";
import Steps from "~/components/widgets/Steps.astro";

import FAQs from "~/components/widgets/FAQs.astro";
import Tours from "~/components/widgets/Tours.astro";
import ScreeningButton from "~/components/atoms/ScreeningButton.astro";

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<Hero />
	<div
		class="grid grid-cols-1 [&>section:nth-child(odd)]:bg-primary-50 dark:[&>section:nth-child(odd)]:bg-slate-700"
	>
		<Tours />
    <Features />
    <section>
    </section>
    <ScreeningButton class="mb-8 max-w-xl mx-auto"/>
		<Credits />
		<FAQs />
	</div>
</Layout>