---
import Layout from "~/layouts/BlogLayout.astro";
import TourCards from "~/components/blog/TourCards.astro";
import TourModal from "~/components/widgets/TourModal.astro";
import { fetchPosts, fetchPostsByFeature } from "~/utils/posts";
import { getPermalink } from "~/utils/permalinks";
const posts = await fetchPostsByFeature("Performance");
const {} = Astro.props;
---

<Layout>
  <Fragment slot="title">
    On Track for Success
	</Fragment>
	<div
		class="container mx-auto px-4 max-w-4xl prose dark:prose-invert dark:prose-headings:text-slate-300 prose-lg prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8 mb-12  show-toast-on-scroll"
	>
		<article>

      <h2 class="px-4 mt-2 mb-8 max-w-3xl mx-auto text-center text-2xl md:text-3xl font-bold leading-tighter tracking-tighter font-heading">
        Lifestyle Tips for High-Performing Railroaders
      </h2>
			<div
				class="container mx-auto sm:px-4 md:max-w-4xl prose lg:prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
			>
				<p>
					Manage your sleep, naps, caffeine, and exercise to stay awake, alert, and confident on the job.
				</p>
			</div>
		</article>
	</div>

  <div class="toast toast-top my-24 hidden animate-in slide-in-from-bottom duration-500" id="caffeine-toast">
		<div class="alert alert-info">
			<div>
				Take the <a href={getPermalink("caffeine-interactive")} class="link">Caffeine Challenge!</a>
			</div>
		</div>
	</div>
  <TourCards posts={posts} />
	<hr
		class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"
	/>

  {
    posts.map((post) => {
      return <>
      <input type="checkbox" id={post.slug} class="modal-toggle" />
      <div class="modal cursor-pointer">
        <div class="modal-box relative max-w-3xl">
          <TourModal post={post} />
        </div>
        <label class="modal-backdrop" for={post.slug}>Close</label>
      </div>
      </>
    })
  }

</Layout>

<script>
	const callback = function (entries) {
		entries.forEach((entry) => {
      if (entry.isIntersecting) {
        document.getElementById('caffeine-toast').classList.remove("hidden");
      } else {
        document.getElementById('caffeine-toast').classList.add("hidden");
      }
		});
	};

	const observer = new IntersectionObserver(callback);

	const targets = document.querySelectorAll(".show-toast-on-scroll");
	targets.forEach(function (target) {
		observer.observe(target);
	});
</script>