---
import { Icon } from "astro-icon";

 const { class: className="", title, link } = Astro.props;
 ---
 <div class="flex flex-row content-evenly my-4">
    <a id="previous-page" class="btn mx-auto" href={link}>
      {title}<Icon name="tabler:arrow-right" class="mr-2 w-5 h-5" />
    </a>
 </div>
