---
const { quote, quote_author, class: className = "text-sm" } = Astro.props;
---

{
	quote && quote_author && (
  <figure>
  <blockquote class="-mb-8 -pb-4">
    <p class="text-lg">{quote}</p>
  </blockquote>
  <div class="text-base text-right -mt-4">
    - {quote_author}
  </div>
</figure>
	)
}