---
const { quote, quote_author, class: className = "text-sm" } = Astro.props;
---

{
	quote && quote_author && (
		<div class="bg-gray-100 px-6">
			<p class="leading-relaxed mt-0 mb-0 text-gray-800">"{quote}"</p>
			<footer class="text-base font-light text-right block text-gray-600">
				{quote_author}
			</footer>
		</div>
	)
}
