---
import Item from "~/components/blog/CarouselItem.astro";
import { Icon } from "astro-icon";

const { posts, category } = Astro.props;
---

<div class="py-8 lg:py-16">
	<div class="px-8 max-w-4xl mx-auto">
		<h2
			class="text-center text-2xl md:text-3xl font-bold leading-tighter tracking-tighter my-8 font-heading"
		>
			{category.category}
		</h2>
		<p
			class="prose lg:prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-lg prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg"
		>
			{category.description}
		</p>
	</div>
	<!-- Slider main container -->
	<div class="swiper my-8">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			{
				posts.map((post) => (
					<div class="swiper-slide">
						<Item post={post} />
					</div>
				))
			}
		</div>
    <!-- If we need pagination -->
		<div class="mt-4 swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev">
			<Icon name="carbon:previous-filled" />
		</div>
		<div class="swiper-button-next"><Icon name="carbon:next-filled" /></div>
	</div>
</div>

<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script type="module">
	import Swiper from "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js";

	// Create a media query for md screens
	const mdScreen = window.matchMedia("(min-width: 768px)");
	// Create a media query for xl screens
	const lgScreen = window.matchMedia("(min-width: 1024px)");
	// Check if the media query is true
	let slidesPerView = mdScreen.matches ? 2.2 : 1.2;
	slidesPerView = lgScreen.matches ? 3.2 : slidesPerView;

	const swiper = new Swiper(".swiper", {
		// Optional parameters
		direction: "horizontal",
		loop: true,
		slidesPerView: slidesPerView,
		centeredSlides: true,
		centeredSlidesBounds: true,

		// If we need pagination
		pagination: {
			el: ".swiper-pagination",
		},
		autoplay: {
			delay: 7500,
			disableOnInteraction: false,
			pauseOnMouseEnter: false,
			stopOnLastSlide: false,
		},
		// Navigation arrows
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
	});
</script>

<style>
	.swiper {
		width: 100vw;
	}
	.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 4rem;
	}
	.swiper-button-next::after,
	.swiper-button-prev::after {
		display: none;
	}
</style>
