---
import Item from '~/components/blog/TourItem.astro'
const { posts } = Astro.props;

---

<div
	class="px-4 my-4 md:my-8 grid gap-8 lg:gap-16 grid-cols-1 xl:grid-cols-2 max-w-2xl xl:max-w-6xl mx-auto place-items-center"
>
	{
		posts.map((post) => {
			return <Item post={post} />;
		})
	}
</div>
