---
import Layout from "~/layouts/BlogLayout.astro";
import InteractiveItem from "~/components/blog/InteractiveItem.astro";
import Previous from "~/components/atoms/Previous.astro";
import { getPermalink } from "~/utils/permalinks";

const items = [
{
		title: "The Caffeine Challenge",
		description: "An interactive drag and drop activity that educates users on the effects of caffeine on the body, and how to use caffeine safely and effectively.",
    icon: "ph:coffee",
		link: getPermalink("caffeine-interactive"),
    image:"~/assets/images/caffeine-challenge.png",
	},
	{
		title: "Inside Sleep Apnea",
		description:
			"This interactive highlights events that occur during OSA, their physiologic effects, and why they represent a serious health threat. OSA is a treatable disorder and, with proper diagnosis and treatment, many people have complete resolution of their symptoms.",
		icon: "ph:coffee",
		link: getPermalink("inside-apnea"),
    image:"~/assets/images/inside-apnea.png",
	},
	{
		title: "The Science of Sleep",
		description:
			"Click on the interactive activity below to learn how sleep and wakefulness are regulated throughout the day.",
		icon: "mdi:sleep-off",
    link: getPermalink("circadian"),
    image:"~/assets/images/circadian.png",
	},
  {
		title: "Reaction Time Game",
		description:
			"Whether in a locomotive cab or driving to and from work, you are safest when you can react quickly. This game simulates the driving experience, and mimics skills you need for many work-related tasks. Your score will reflect both the consistency of your reaction times and your accuracy. Test your skill today. Try again later. See how your score varies with across the day, or after you have consumed caffeine or alcohol.",
		icon: "healthicons:sleepy",
		link: getPermalink("think-fast"),
    image:"~/assets/images/think-fast.png",
	},
  {
		title: "The Sleep Lab",
		description: "Learn more about normal sleep patterns and how they are altered with age and in some conditions that affect sleep.",
		icon: "healthicons:sleepy",
		link: "sleep-lab",
    image:"~/assets/images/sleep-lab.png",
	},
	{
		title: "Challenges to Getting Enough Sleep",
		description:"Hear from other people about the challenges they face in getting enough sleep.",
		icon: "mdi:sleep",
		link: "audio-slide-show",
    image:"~/assets/images/audio-slide-show.png",
	},
];

---

<Layout>
	<div class="container mx-auto px-6 sm:px-6 max-w-4xl mt-8 mb-12">
		<Fragment slot="title">
      <h1 class="px-4 mb-12 -mt-8 max-w-3xl mx-auto text-center text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
    >
      Interactives</h1>
		</Fragment>
    {
      items.map((item) => (
        <InteractiveItem item={item} />
      ))
    }
  </div>
  <Previous />
</Layout>