---
import { Breadcrumbs } from "astro-breadcrumbs"
import Layout from "~/layouts/PageLayout.astro"

const { meta } = Astro.props
---

<Layout {meta}>
  <div class="max-w-4xl px-2 mx-auto">
    <Breadcrumbs mainBemClass="breadcrumbs" />
  </div>
  <section class="sm:py-2 lg:py-4 px-1 mx-auto">
    <h1 class="text-center text-4xl font-bold leading-tighter tracking-tighter mb-2 md:mb-4 font-heading">
      <slot name="title" />
    </h1>
    <slot />
  </section>
</Layout>
